.container-fluid{
  margin: 3% auto;
  padding: 3%;
  background-image: url("https://www.transparenttextures.com/patterns/crossword.png");
  background-color: rgba(255, 110, 64, 0.76);
  width: 80%;
}

h3{
  padding-bottom: 2%;
  color: white;
  font-size: 2.5rem;
}

thead{
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  background-color: #1e3d59;
  color: var(--yellow);
}

tbody{
  background: var(--tan);;
  color: var(--blue);;
  font-weight: bold;
}

.table{
  text-align: center;
  justify-content: left;
}
