<div class="container-fluid table-responsive">
    <h3 class="text-center display-4">Inventory</h3>
    <table class="table table-hover">
        <thead>
        <tr id="product-titles">
            <th>NAME</th>
            <th>LOC</th>
            <th>CATEGORY</th>
            <th>QTY</th>
        </tr>
        </thead>
        <tbody *ngFor="let product of inventory">
        <tr (click)="getProductById(product.id); this.display=true" class="inventory">
            <td>{{product.name}}</td>
            <td>{{product.location}}</td>
            <td>{{product.category}}</td>
            <td>{{product.qty}}</td>
        </tr>
        <tr *ngIf="this.selectedProduct?.id === product.id" [hidden]="!display" class="info">
            <td colspan="5">
                    <div class="card">
                        <h5 class="text-center text-white display-4">{{this.selectedProduct.name}}</h5>
                        <div class="card-body">

                            <div class="row prod">
<!--                                <div class="col-sm-1"></div>-->
                                <div class="col-sm-5 table-responsive prodInfo">
                                    <h6 class="text-center text-white display-4">Details</h6>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>ABBR</th>
                                            <th>L</th>
                                            <th>W</th>
                                            <th>D</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{this.selectedProduct.abbreviation}}</td>
                                            <td>{{this.selectedProduct.length}}"</td>
                                            <td>{{this.selectedProduct.width}}"</td>
                                            <td>{{this.selectedProduct.depth}}"</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-sm-2 prodInfo">
                                    <h6 class="text-center text-white display-4 mb-4">Update Qty</h6>
                                    <div class="row input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-danger"
                                                    (click)="decreaseQuantity(this.selectedProduct.id, this.selectedProduct.qty)"><i
                                                    class="fa fa-minus-circle"></i></button>
                                        </div>
                                        <label for="qty2"></label>
                                        <input type="number" id="qty2" class="form-control" placeholder="Update Quantity"
                                               aria-describedby="add" [(ngModel)]="selectedProduct.qty">
                                        <div class="input-group-append">
                                            <button class="btn btn-success"
                                                    (click)="increaseQuantity(this.selectedProduct.id, this.selectedProduct.qty)"><i
                                                    class="fa fa-plus-circle"></i></button>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-4 prodInfo">
                                    <div class="col-sm-12">
                                        <h6 class="display-4 text-white text-center">Description</h6>
                                    </div>
                                    <div class="col-sm-12 description text-white text-left">
                                        <p>{{this.selectedProduct.description}}</p>
                                    </div>
                                </div>

<!--                                <div class="col-sm-1"></div>-->

<!--                                <div class="col-sm-12">-->

<!--                                </div>-->

                            </div>

                        </div>

                    </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>





