<div class="container-fluid">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>name</th>
            <th>abbreviation</th>
            <th>location</th>
            <th>dimension(LWH)</th>
            <th>category</th>
            <th>quantity</th>
            <th>description</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of inventory">
                <td>{{product.name}}</td>
                <td>{{product.abbreviation}}</td>
                <td>{{product.location}}</td>
                <td>{{product.length}} x {{product.width}} x {{product.depth}}</td>
                <td>{{product.category}}</td>
                <td>{{product.qty}}</td>
                <td>{{product.description}}</td>
            </tr>
        </tbody>
    </table>
</div>
