.container-fluid{
  margin: 3% auto;
  padding: 3%;
  background-image: var(--crossword);
  background-color: var(--orange);
  width: 90%;
  box-shadow: inset 0 0 5px 5px var(--blue);
}

h3{
  padding-bottom: 2%;
  color: white;
  font-size: 2.5rem;
}

.table{
  text-align: center;
  width: 90%;
  margin: 1rem auto;
  z-index: 10;
  box-shadow: inset 0 0 2px 2px var(--yellow);
}

.table td{

}

thead{
  color: var(--yellow);
  background-image: var(--alum);
  background-color: var(--blue);
}

tr, td{
  border-top: 0;
}

tr th{
  padding: 2%;
  font-size: 1.2rem;
  border-top: 0;
}

tbody{
  color: var(--blue);;
 //background-image: var(--crossword);
  background-color: var(--tan);
}

td{
  vertical-align: 0;
  padding: .7rem;
}

#info{
  margin: 5% auto;
  background-color: var(--blue);
  color: var(--yellow);
}

#info h3{
  padding-top: 3%;
}

.quantity{
  display: flex;
  flex-wrap: nowrap;
}

.form-control{
  text-align: center;
  margin: 0 auto;
}

