<div class="container-fluid table-responsive">
    <h3 class="text-center display-4">Current Inventory</h3>
    <table class="table table-bordered table-hover table-striped table-dark">
        <thead>
        <tr id="product-titles">
            <th>NAME</th>
            <th>ABBREVIATION</th>
            <th>LOCATION</th>
            <th>CATEGORY</th>
            <th>QTY</th>
            <th>DETAILS</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of inventory">
            <td>{{product.name}}</td>
            <td>{{product.abbreviation}}</td>
            <td>{{product.location}}</td>
            <td>{{product.category}}</td>
            <td>{{product.qty}}</td>
            <td>
                <button type="button" class="btn btn-md rounded-pill"
                        (click)="getProductById(product.id); this.display=true">
                    More <i class="fa fa-info-circle ml-2"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
    <div *ngIf="this.selectedProduct?.id" [hidden]="!display" id="info">
        <h3 class="text-center text-white display-4">Product: {{this.selectedProduct?.name}}</h3>
        <div>

        </div>
        <div class="dimensions">
            <h4 class="text-center text-white">Dimensions in Inches</h4>
            <table class="table table-bordered table-dark">
                <thead>
                <tr>
                    <th>Length</th>
                    <th>Width</th>
                    <th>Depth</th>
                    <th>Update Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{this.selectedProduct.length}}"</td>
                    <td>{{this.selectedProduct.width}}"</td>
                    <td>{{this.selectedProduct.depth}}"</td>
                    <td>
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="Update Quantity"
                                   aria-describedby="button-addon4" [(ngModel)]="selectedProduct.qty">
                            <div class="input-group-append" id="button-addon4">
                                <button class="btn btn-outline-success" type="button" (click)="increaseQuantity(this.selectedProduct.id, this.selectedProduct.qty)"><i class="fa fa-plus-circle"></i></button>
                                <button class="btn btn-outline-secondary" type="button" (click)="decreaseQuantity(this.selectedProduct.id, this.selectedProduct.qty)"><i class="fa fa-minus-circle"></i></button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <h4 class="text-center text-white">Product Description</h4>
                {{selectedProduct.description}}
            </div>
        </div>

    </div>
</div>

