<div *ngFor="let product of inventory">
    <p>{{product.name}}</p>
    <p>{{product.qty}}</p>
</div>


<div class="flex-container">

    <div class="form_container">
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid" novalidate class="product">
            <h3 class="text-center display-4">ADD PC TO BUNDLE</h3>

            <div class="row">
                <div class="col-sm-4">
                    <label for="category">Product</label>
                    <input type="text" id="category" name="category" class="form-control rounded-pill" list="products"
                           [(ngModel)]="product.category" #category="ngModel"
                           [ngClass]="{ 'is-invalid': f.submitted && category.invalid }" required minlength="2" maxlength="32"/>
                    <datalist id="products">
                        <option *ngFor="let product of inventory" class="rounded-pill">{{product.name}}</option>
                    </datalist>
                </div>

                <div class="col-sm-4">
                    <label for="location">Quantity</label>
                    <input type="text" id="location" name="location" class="form-control rounded-pill" list="locations"
                           [(ngModel)]="product.location" #location="ngModel"
                           [ngClass]="{ 'is-invalid': f.submitted && location.invalid }" required minlength="3" maxlength="3"/>
                    <datalist id="locations">
                        <option *ngFor="let loc of inventory" class="rounded-pill">{{loc.location}}</option>
                    </datalist>
                </div>

                <div class="col-sm-4">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-lg btn-success rounded-pill create-button" [disabled]="!f.form.valid">
                            <i class="fa fa-plus-circle fa-3x"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-lg btn-success rounded-pill create-button" [disabled]="!f.form.valid">
                        <i class="fa fa-plus-circle fa-3x"></i>
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>

