<div class="flex-container">

    <div class="form_container">
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && addPieceToBundle()" novalidate class="product">
            <h3 class="text-center display-4">ADD PC TO BUNDLE</h3>

            <div class="row">

                <div class="col-sm-6">
                    <label for="product">Product</label>
                    <select id = "product">
                        <option *ngFor="let product of inventory">{{product.name}}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label for="qty">Quantity</label>
                    <input type="number" id="qty" name="qty" [(ngModel)]="piece.defaultQty"/>
                </div>

                <div class="col-sm-3">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success create-button" [disabled]="!f.form.valid">ADD <i class="fa fa-plus-circle"></i></button>
                    </div>
                </div>

            </div>

        </form>

    </div>
</div>

