

<div *ngFor="let bundle of bundles">
    <p>{{bundle.name}}</p>
</div>

<div class="flex-container">

    <div class="form_container">

        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && createBundle()" novalidate class="product">
            <h3 class="text-center display-4">ADD NEW PRODUCT</h3>

            <div class="row">
                <label for="name">Bundle Name</label>
                    <input type="text" id="name" name="name" class="form-control rounded-pill"
                           [(ngModel)]="bundle.name" #name="ngModel"
                           [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required minlength="2"
                           maxlength="32"/>
            </div>

            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-lg btn-success rounded-pill create-button"
                            [disabled]="!f.form.valid">
                        <i class="fa fa-plus-circle fa-3x"></i>
                    </button>
                </div>
            </div>

        </form>

    </div>

</div>
