<h2>
    Add Product
</h2>

<form>

    <div class="field">
        <label class="field__label">
            Product Name
        </label>
        <input type="text" name="name" class="field__input" />
    </div>

    <div class="field">
        <label class="field__label">
            Abbreviation
        </label>
        <input type="text" name="email" class="field__input" />
    </div>

    <div class="field">
        <label class="field__label">
            Location
        </label>
        <input type="text" name="email" class="field__input" />
    </div>

    <div class="field">
        <label class="field__label">
            Quantity
        </label>
        <input type="text" name="email" class="field__input" />
    </div>

    <div class="field">
        <label class="field__label">
            Length
        </label>
        <input type="text" name="email" class="field__input" />
    </div>

    <div class="field">
        <label class="field__label">
            Width
        </label>
        <input type="text" name="email" class="field__input" />
    </div>

    <div class="field">
        <label class="field__label">
            Depth
        </label>
        <input type="text" name="email" class="field__input" />
    </div>

    <div class="field">
        <label class="field__label">
            Product Description
        </label>
        <textarea name="memo" class="field__textarea"></textarea>
    </div>

<!--    <div class="field">-->
<!--        <label class="field__label">-->
<!--            Category-->
<!--        </label>-->
<!--        <input-->
<!--            type="file"-->
<!--            name="resume"-->
<!--            class="field__input"-->
<!--        />-->
<!--    </div>-->

<!--    <div class="field">-->
<!--        <label class="field__label">-->
<!--            Code Sample:-->
<!--        </label>-->
<!--        <input-->
<!--            type="file"-->
<!--            name="sample"-->
<!--            class="field__input"-->
<!--        />-->
<!--    </div>-->

    <div class="actions">
        <button type="submit" class="actions__primary">
            Submit Application
        </button>
    </div>

</form>
