<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 image">
            <img src="https://i.imgur.com/LOM8WX2.png" alt="logo" class="responsiveImage"/>
        </div>
        <div class="col-sm-6 signup">
            <div class="form_container">
<!--                <form-->
<!--                        name="form"-->
<!--                        #f="ngForm"-->
<!--                        (ngSubmit)="f.form.valid"-->
<!--                        novalidate-->
<!--                        class="signup-form"-->
<!--                >-->
<!--                </form>-->
            </div>
        </div>
    </div>
</div>
