<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 signup">
            <div class="form_container">
                <form
                        name="form"
                        #f="ngForm"
                        (ngSubmit)="f.form.valid && createProduct()"
                        novalidate
                        class="signup-form"
                >
                    <!-- Name -->
                    <div class="input-group user_info">
                        <input
                                type="text"
                                id="name"
                                name="name"
                                class="form-control"
                                placeholder="Product Name"
                                [(ngModel)]="product.name"
                                #name="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                                required
                                minlength="3"
                        />
                    </div>
                    <div class="input-group user_info">
                        <input
                                type="text"
                                id="abbr"
                                name="abbr"
                                class="form-control"
                                placeholder="Abbreviation"
                                [(ngModel)]="product.abbreviation"
                                #abbr="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && abbr.invalid }"
                                required
                                minlength="3"
                        />
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="d-flex justify-content-center login_container">
                            <button
                                    type="submit"
                                    class="btn login_btn"
                                    [disabled]="!f.form.valid"
                            >
                                Submit<span> <i class="fa fa-hand-pointer-o ml-2"></i></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
