nav{
  background-image: var(--crossword);
  background-color: var(--blue);
  width: 100%;
}

.nav-item.nav-link, .navbar-brand{
  color: white;
}

.navbar-brand{
  padding: 1%;
  font-size: 1.8rem;
}

.container-fluid{
  padding: 0;
}

.nav-item.nav-link{
  margin-right: auto;
  font-size: 1.3rem;
}
