nav{
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  background-color: #1e3d59;
  width: 100%;
}

.nav-item.nav-link, .navbar-brand{
  color: #ffea04;
}

.container-fluid{
  padding: 0;
}
