<div class="container-fluid">
  <nav class="navbar navbar-expand-md">

    <a href="#" class="navbar-brand mr-3">Fast Furniture</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a routerLink="/inventory" class="nav-item nav-link">Inventory</a>
        <a routerLink="/add" class="nav-item nav-link">Add Product</a>
        <a routerLink="/bundles/create" class="nav-item nav-link">Create Bundle</a>
      </div>
<!--      <div class="navbar-nav ml-auto">-->
<!--        <a href="#" class="nav-item nav-link">Register</a>-->
<!--        <a href="#" class="nav-item nav-link">Login</a>-->
<!--      </div>-->
    </div>
  </nav>
</div>
