nav{
  background-image: url("https://www.transparenttextures.com/patterns/mooning.png");
  background-color: #ff6e40;
  width: 100%;
}

.nav-link, .navbar-brand{
  color: white;
}

.container-fluid{
  padding: 0;
}
