/* You can add global styles to this file, and also import other style files */
@import url(~bootstrap/dist/css/bootstrap.min.css);
@import url(~font-awesome/css/font-awesome.min.css);


:root{
  // Global Color Scheme
  --blue:  #1e3d59;
  --orange:  rgba(255, 110, 64, 0.76);
  --tan: #f5e6e1;
  --yellow: #ffea04;
  --absurdity: url("https://www.transparenttextures.com/patterns/absurdity.png");
  --crossword: url("https://www.transparenttextures.com/patterns/crossword.png");
  --nistri: url("https://www.transparenttextures.com/patterns/nistri.png");
}


body{
  background-color: var(--tan);
  background-image: var(--absurdity);
  z-index: 0;
}


html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
