<div class="container py-5">

    <header class="text-center">
        <h6 class="display-4">Upload Images</h6>
        <img src="https://res.cloudinary.com/mhmd/image/upload/v1564991372/image_pxlho1.svg" alt="" width="150" class="mb-2 image">
    </header>


    <div class="row py-6">
        <div class="col-lg-8 mx-auto">

            <!-- Upload image input-->
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                <label id="upload-label" for="upload" class="font-weight-light">Choose file</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-white"></i><small class="text-uppercase font-weight-bold text-white">Choose file</small></label>
                </div>
            </div>

        </div>
    </div>
</div>
